/* ==========================================================================
   Author's custom styles
   ========================================================================== */

.saved-list {
  display: inline-block;
  width: 25%;
  background: #e8e8e8;
  padding: 0.5rem;
}
